# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env
*.pyo
*.pyd
*.pyproj

# C/C++
*.obj
*.o
*.a
*.lib
*.dll
*.exe
*.out
*.class

# Visual Studio Code
.history
*.code-workspace
*.log

# OS-specific
.DS_Store
Thumbs.db

.git/